{% extends "layout.html" %}

{% set tocPage = true %}

{% set productname = EA_Name %}

{% block pageTitle %}
  {{ productname }} protected product details and specification
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: " ",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
<!-- no phase banner or back link -->
<div class="gem-c-contextual-breadcrumbs">

  <div class="gem-c-breadcrumbs govuk-breadcrumbs " data-module="track-click">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a class="govuk-breadcrumbs__link" aria-current="false" href="/{{folder}}/search-results_spec_pub-default?registers=_unchecked&statuses=_unchecked&name=&country=">Protected geographical food and drink names</a>
      </li>
    </ol>
  </div>

</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ productname }}</h1>

      <p class="gir_intro">
        {{ "Protected food name with Protected Geographical Indication (PGI)" if DEF_Register == "Food and Agri UK PDO" and EA_Type == "Protected Geographical Indication (PGI)" }}

        {{ "Protected food name with Protected Designation of Origin (PDO)" if DEF_Register == "Food and Agri UK PDO" and EA_Type == "Protected Designation of Origin (PDO)" }}

        {{ "Protected food name with Traditional Speciality Guaranteed (TSG)" if DEF_Register == "Food and Agri UK TSG" }}
        {{ "Protected spirit drink name" if DEF_Register == "Spirits" }}
        {{ "Protected wine name with Protected Designation of Origin (PDO)" if DEF_Register == "Wines" }}
        {{ "Protected aromatised wine name" if DEF_Register == "Aromatised wines" }}
        {{ "Traditional Term" if DEF_Register == "Traditional Terms" }}
      </p>

      <p class="gir_small">
        Published 31 December 2020<br>
        From: <a href="#">Department for Environment, Food &amp; Rural Affairs</a>
      </p>

      <div class="gir_meta">
        <p>Status: <b><em>{{EA_Status}}</em></b></p>
        <p>Protection type: <b>{{EA_Type}}</b></p>
        <p>Country of origin: <b><em>{{EA_Country}}</em></b></p>

        {% if DEF_Register == "Spirits" %}
         <p>Date of application: <b>{{ EA_DateRegistration | formatLongDate }} </b></p>
        {% endif %}

        <p>Date of UK registration: <b>31 December 2020</b></p>
        <p>Date of original registration with the EU: <b>{{EA_DateRegistration | formatLongDate}}</b></p>

        <p>Register: <b><em>

          {{ "Protected food names scheme register: Protected Designation of Origin (PDO) and Protected Geographical Indication (PGI)" if DEF_Register == "Food and Agri UK PDO" }}

          {{ "Protected food names scheme register: Traditional Speciality Guaranteed (TSG)" if DEF_Register == "Food and Agri UK TSG" }}

          {{ "Protected spirit drink names scheme register" if DEF_Register == "Spirits" }}

          {{ "Protected wine names scheme register" if DEF_Register == "Wines" }}

          {{ "Protected aromatised wines scheme register" if DEF_Register == "Aromatised wines" }}

          {{ "Traditional terms for wine products register" if DEF_Register == "Traditional Terms" }}

        </em></b></p>
        <p>Class or category of product: <b><em>{{EA_ProductCategory}}</em></b></p>
      </div>



<div id="toc" class="toc"></div>


<img
src="/public/logos/logo-test.jpg"
alt="The scheme logo is a black stamp with the words Geographic Origin UK Protected"
style="float:right; width:150px; padding-left:2em; padding-bottom:2em;"
>



      <p>
        {{ "Protected designation of origin (PDO) and protected geographical indication (PGI) register" if DEF_Register == "Food and Agri UK PDO" }}
        {{ "Traditional speciality guaranteed (TSG) register" if DEF_Register == "Food and Agri UK TSG" }}
        {{ "Protected spirit drink names scheme register" if DEF_Register == "Spirits" }}
        {{ "Protected wine names scheme register" if DEF_Register == "Wines" }}
        {{ "Protected aromatised wines scheme register" if DEF_Register == "Aromatised wines" }}
        {{ "Traditional terms for wine products register" if DEF_Register == "Traditional Terms" }}
      </p>

      <h2 class="govuk-heading-m" id="spec">Specification</h2>
      <!--
        <p>
        <a href="/public/images/pfn-stilton-cheese.pdf">{{productname}} product specification (pdf)</a>
      </p>
      -->

      <p>
        The product specification is not available on this site. Find out how to <a href="https://www.gov.uk/link-to-follow">get a product specification for a protected food name</a> on GOV.UK.
      </p>

      {% if DEF_Register == "Spirits" %}
      <h2 class="govuk-heading-m" id="notice">Decision notice and protection instrument</h2>
       <p>
         Geographical indications of spirit drinks registered in Annex III to Regulation (EC) No 110/2008 and thus protected under that Regulation shall automatically be protected as geographical indications under this Regulation.
       </p>
       <p>
         <a href="#">Decision notice for {{ productname }}</a>. Date of publication of the instrument: {{EA_DateRegistration | formatLongDate}}.
       </p>
      {% endif %}

      <h2 class="govuk-heading-m" id="notes">Notes</h2>
        {% if DEF_Register == "Spirits" %}
            <p>Established GI from previous regulation 1576/1989, technical file submitted in accordance with regulation 110/2008, scrutiny formally completed by EC.</p>
        {% else %}
            <p>No notes</p>
        {% endif %}

      <p class="gir_small">
        Published 31 December 2020
      </p>


    </div>
  </div>

{% endblock %}
