// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

dt.govuk-body {
  margin-bottom:0;
  font-weight: 700;
}

dd.govuk-body {
  margin-inline-start:0;
  margin-bottom:20px;
}

.pdo, .pgi, .tsg, .gi {
  display:inline-block;
  font-weight:700;
  padding:0 0.3em;
  abbr{
    text-decoration: none;
  }

}

.pdo {
  color: govuk-colour("yellow");
  background-color: govuk-colour("red");
}

.pgi {
  color: govuk-colour("yellow");
  background-color: govuk-colour("dark-blue");
}

.gi {
  color: govuk-colour("white");
  background-color: govuk-colour("black");
}

.tsg {
  color: govuk-colour("dark-blue");
  background-color: govuk-colour("yellow");
}

.gir_filterbox {
  .govuk-details__summary-text {
    text-decoration: none;
  }
  .govuk-details {
    margin-bottom: 10px;
    border-bottom: 1px solid $govuk-border-colour;
  }
  .govuk-details__text {
    padding-left: 0px;
    border-left: none;
  }

}

.gem-c-search--on-white, .gem-c-search__submit {
    background-color: #1d70b8;
    color: #fff;
}

.gem-c-search__submit {
    border: 0;
    cursor: pointer;
    border-radius: 0;
    position: relative;
    padding: 0;
    width: 40px;
    height: 40px;
    background-image: url(https://www.gov.uk/assets/finder-frontend/govuk_publishing_components/search-button-ca89b2a79f944909ceb7370d3f0b78811d32b96e883348fcd8886f63dd619585.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    text-indent: -5000px;
    overflow: hidden;
}

.gir_results_head {
  margin: 1em 0 6px 0;
  border-top:1px solid #cccccc;
  padding-top:12px;
}

.gir_intro{
  font-size:24px;
  border-bottom:1px solid #cccccc;
  padding-bottom: 40px;
}

.gir_small{
  font-size:16px;
  margin-bottom:2px;
}

.gir_very_small{
  font-size:14px;
  margin-bottom:2px;
}

.gir_isNormalFont{
  font-weight:normal !important;
}

.gir_isBlock {
  display:block;
}

.gir_spaceAbove {
  margin-top:15px;
}

.gir-filter-panel {
  background-color:#f3f2f1;
  padding:4px 8px;
}

.gir-filter {
  display:block;
  margin-top:12px;
  margin-bottom:12px;
}

.gir-filtername {
  border: 1px solid #505a5f;
  border-radius: 5px;
  padding: 8px 7px 7px 7px;
  font-size:16px;
}

.gir-filtername:before {
  content: "\00D7\00A0";
  font-size:20px;
  font-weight:700;
}

.gir_meta {
  padding: 20px 30px;
  margin: 40px 0 50px 0;
  background-color: #1d70b8;
  color:#fff;
  a, p {
    color:#fff;
    margin:0;
    font-size: 16px;
    line-height:1.4em;
  }
  b {
    font-weight:bold;
  }
  em {
    text-decoration:underline;
    font-style: normal;
  }
}
