{% extends "layout.html" %}

{% block pageTitle %}
Geographical indications register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- TEST COMMENT -->


      {% if headers.length == 0 %}
      <h1 class="govuk-heading-xl">No {{ title | lower }} appear on the register</h1>
      {% else %}
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      <form class="form" action="/badly-designed-register/{{ registerName }}" method="get">
        <div class="govuk-form-group">
          <label class="govuk-label" for="filter">
              Filter
          </label>
          <input class="govuk-input" id="filter" name="filter" type="text" value="{{ filter }}">
        </div>

        <button class="govuk-button" data-module="govuk-button">Filter</button>
      </form>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% for header in headers %}
            <th scope="col" class="govuk-table__header"><a href="/badly-designed-register/{{ registerName }}?filter={{ filter }}&sortColumn={{ loop.index0 }}&sortDescending={{ sortColumn == loop.index0 and sortDescending == 'false' }}">{{ header }}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for geographicalIndication in data %}
          <tr class="govuk-table__row">
            {% for dataValue in geographicalIndication %}
            <td class="govuk-table__cell">{{ dataValue }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}

    </div>
  </div>

{% endblock %}
