
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  Grid test
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">Grid test</h1>

<div id="map"><div class="gridsq" id="sq0" tabindex="1"></div></div><!-- // #map -->



{% endblock %}


{% block footer %}
  <!-- Javascript -->
  <script src="/public/javascripts/jquery-1.11.3.js"></script>
  <script src="/public/javascripts/gridtest.js"></script>
{% endblock %}
