
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Geographical indications register service: prototypes
        <span class="govuk-caption-xl">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      {{ govukWarningText({
        text: "This is a prototype for testing. It's not an actual goverment service.",
        iconFallbackText: "Warning"
      }) }}


      <h2 class="govuk-heading-m">Version 4: building using Specialist Publisher</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v4/landing-guide-page/default">Defra guidance page (Specialist Publisher)</a>
        </li>
      </ul>


      <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 4 design history
      </span></summary><div class="govuk-details__text">

          <p>This is an update to version 3 to incorporate the decisions agreed with the business</p>

          <h3 class="govuk-heading-s">Main hanges from v3 to v4</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Moved 'Date of original registration with the EU' into the main data and moved the 'legal disclaimer' to the guidance
              </li>
              <li>
                Added a protection type logo because quite a few users needed to see what the new logos looked like
              </li>
            </ul>

      </div></details>



      <h2 class="govuk-heading-m">Version 3: Alpha</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v3/landing-guide-page/default">Defra guidance page (Specialist Publisher DEFAULT version)</a>
        </li>
        <li>
          <a href="/v3/product-details-default/PGI-GB-01854">Spirits: Scotch Whisky example using default SP</a>
        </li>
        <li>
          <a href="/v3/product-details-default/PGI-GB-0727">Food: Cornish Pasty example using default SP</a>
        </li>
        <li>
          <a href="/v3/product-details-default/PDO-GB-N1636">Wines: Darnibole example using default SP</a>
        </li>
      </ul>


      <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 3 design history
      </span></summary><div class="govuk-details__text">

          <p>This is an update to version 2 to incorporate the data fields agreed with the business</p>

      </div></details>



      <h2 class="govuk-heading-m">Version 2: Alpha round 2</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v2/landing-guide-page/default">Defra guidance page (Specialist Publisher DEFAULT version)</a>
        </li>
        <li>
          <a href="/v2/landing-guide-page/lst">Defra guidance page (Specialist Publisher LIST version)</a>
        </li>
        <li>
          <a href="/v2/landing-guide-page/tbl">Defra guidance page (Specialist Publisher TABLE version)</a>
        </li>
        <li>
          <a href="/v2/landing-guide-page/tbl-simple">Defra guidance page (Specialist Publisher TABLE SIMPLE version)</a>
        </li>
        <li>
          <a href="/v2/landing-guide-page/nodejs">Defra guidance page (Custom build version)</a>
        </li>
      </ul>


      <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 2 design history
      </span></summary><div class="govuk-details__text">

        <h3 class="govuk-heading-s">Overview</h3>
          <p>
            Before the start of this sprint, our intention was to iterate on version 1 and check if the changes worked for users. However, at the snd of the first Alpha sprint we found out about <a href="https://github.com/alphagov/specialist-publisher">GOV Specialist Publisher</a> and decided we should test its interface as it would appear for protected food names.
          </p>
          <p>
            We produced an iteration of version 1 screens (<a href="/v2/landing-guide-page/nodejs">custom build version</a>) so we had something to test later if Specialst Publisher did not work for our users. We also produced a version using Specialist Publisher default view and also a set of screens with some changes to the default screens.
          </p>

          <h3 class="govuk-heading-s">Changes from v1 to v2 for the custom-build screens</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Guidance page now uses the signed-off text from the October 2019 work gthat was almost released.
              </li>
              <li>
                Search uses the horizontal layout with filters initially hidden
              </li>
              <li>
                Search results are shown in a table
              </li>
              <li>
                We removed the 'register' column as this was not useful to users
              </li>
              <li>
                Added 'Date of original registration with the EU' because users really valued this
              </li>
              <li>
                Changed the product detail display to use the fields that the business told us wouldbe part of the register
              </li>
              <li>
                Removed link to 'legal registers' as this tested badly - users did not understand what it meant. We linked to the registers from the guidance page.
              </li>
              <li>
                Changed 'status' text to check if it would be clearer to users.
              </li>
              <li>
                Opened specification document in same tabe, not a new tab.
              </li>
            </ul>

          <h3 class="govuk-heading-s">Main research objectives</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Can users use GOV.UK Specialist Publisher default view to find what they need?
              </li>
              <li>
                Is the custom-designed Specialist Publisher view more useful to users?
              </li>
              <li>
                (If there is time) Can users use the version 2 iteration of the service to complete their task? Is it an improvement over version 1?
              </li>
            </ul>

            <p><a href="/public/images/GIR_wireframe_Alpha_2-0.pdf">Wireframe Alpha 2.0 (pdf)</a></p>

            <h3 class="govuk-heading-s">Research findings</h3>

              <p><a href="/public/images/GIR_version_2_front_end_research_summary.pdf">Version 2 research summary (pdf)</a></p>


      </div></details>

      <h2 class="govuk-heading-m">Version 1: Alpha round 1</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v1/landing-guide-page">Landing page - Defra guidance page</a>
        </li>
        <li>
          <a href="/v1/legal-registers">Legal registers</a>
        </li>
        <li>
          <a href="/v1/search_a_list">Search A with list</a>
        </li>
        <li>
          <a href="/v1/search_a_list_detail">Search A with list and details</a>
        </li>
        <li>
          <a href="/v1/search_a_table">Search A with table</a>
        </li>

        <li>
          <a href="/v1/search_b_list_detail">Search B with list and details</a>
        </li>
        <li>
          <a href="/v1/search_b_table">Search B with table</a>
        </li>
      </ul>

      <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Version 1 design history
      </span></summary><div class="govuk-details__text">

        <h3 class="govuk-heading-s">Overview</h3>
          <p>
            From research in discovery, we believed that most users wanted to find the details and specification for a single product. Given that these users knew the product name (even if they couldn't always spell it) we decided to offer keyword search as the main route to the content.
          </p>
          <p>
            We decided to start the sessions by showing people a minimum version of the search results interface (<a href="/v1/search_a_list">Search A with list</a>), so we could discover what they needed. They were also shown versions with more slightly more data displayed (<a href="/v1/search_a_list">Search A with list</a>).
          </p>

          <h3 class="govuk-heading-s">Main research objectives</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                Can users find product information easily using the service?
              </li>
              <li>
                Do users need search results with more detail than just product name?
              </li>
              <li>
                Which search layout will users find most useful?
              </li>
              <li>
                If they use filters, can they use them to get the information they need?
              </li>
            </ul>

            <p><a href="/public/images/GIR_wireframe_Alpha_1-1.pdf">Wireframe Alpha 1.1 (pdf)</a></p>

          <h3 class="govuk-heading-s">Research findings</h3>

            <p><a href="/public/images/GIR_version_1_research_summary.pdf">Version 1 research summary (pdf)</a></p>

      </div></details>




      <h2 class="govuk-heading-m">Version 0: Pre-discovery to test the code</h2>

      <details class="govuk-details" data-module="govuk-details"><summary class="govuk-details__summary"><span class="govuk-details__summary-text">
      Project background design history
      </span></summary><div class="govuk-details__text">

        <h3 class="govuk-heading-s">Background to the project</h3>

          <p>Currently the EU publishes a set of registers of geographical indications recognised within the EU. These are protected names for food and drink based on the area the product was produced in and/or the process involved in making the product.</p>

          <p>When the transition period for leaving the EU ends the UK government is required by law to produce and publish registers of geographical indications that are recognised under the new domestic GI schemes being established.</p>

          <p>The project to produce these registers has been with Defra Digital for several years and has been approached in a number of ways. Previous options considered included:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              publishing as Excel / CSV documents on DATA.GOV.UK
            </li>
            <li>
              storing the registers in the Reference Data Service
            </li>
            <li>
              publishing them using Defra’s Data Services Platform
            </li>
            <li>
              publishing the registers as GOV.UK Registers.
            </li>
          </ul>


          <h3 class="govuk-heading-s">Existing EU registers</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="https://ec.europa.eu/info/food-farming-fisheries/food-safety-and-quality/certification/quality-labels/geographical-indications-register/">eAmbrosia - the EU geographical indications register</a>
              </li>
              <li>
                <a href="https://ec.europa.eu/agriculture/markets/wine/e-bacchus/">E-Bacchus" database - wine traditional terms</a>
              </li>
              <li>
                <a href="https://ec.europa.eu/agriculture/quality/door/list.html">DOOR register - archived in December 2019</a>
              </li>
            </ul>

      </div></details>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v0/badly-designed-register-select">Badly designed register to test code</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>


<h2 class="govuk-heading-m">Other prototypes</h2>

      <p><a href="/gridtest">Gridtest</a></p>
      <p><a href="/fcrm-1/landing-guide-page">FCRM Specialist Publisher prototype</a></p>


    </div>
  </div>

{% endblock %}
