
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Geographical indications register service: prototypes
        <span class="govuk-caption-xl">Using GOV.UK Prototype Kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      {{ govukWarningText({
        text: "This is a prototype for testing. It's not an actual goverment service.",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">Version 2: Alpha round 2</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v2/landing-guide-page">Landing page - Defra guidance page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Version 1: Alpha round 1</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v1/landing-guide-page">Landing page - Defra guidance page</a>
        </li>
        <li>
          <a href="/v1/legal-registers">Legal registers</a>
        </li>
        <li>
          <a href="/v1/search_a_list">Search A with list</a>
        </li>
        <li>
          <a href="/v1/search_a_list_detail">Search A with list and details</a>
        </li>
        <li>
          <a href="/v1/search_a_table">Search A with table</a>
        </li>

        <li>
          <a href="/v1/search_b_list_detail">Search B with list and details</a>
        </li>
        <li>
          <a href="/v1/search_b_table">Search B with table</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Version 0: Pre-discovery to test the code</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v0/badly-designed-register-select">Badly designed register</a>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
